/*	Button colors. Change as you would like as
 *	they are separated into light and dark
 *	buttons. This changes the side bar buttons
 *	as well as the top tab bar buttons.
 */
 
/* Button colors separated for light and dark */
/* Side buttons */
.dark .side button,
.dark .btn-whoaverse.contribute,
.dark .pagination-container .btn-whoaverse-paging a,
.dark .btn-whoaverse-paging,
.dark .btn-sub,
.dark .btn-sub a,
.dark .btn-unsub,
.dark .btn-unsub a, 
.dark .tabmenu li.disabled a,
.dark .tabmenu li a,
.dark .tabmenu li.selected a,
.dark .tabmenu li.disabled a.contribute,
.dark .tabmenu li.selected a.contribute {
    border-width: 1px;
    background: #292929; /* This is the normal button color */
    border-color: transparent;
    color: white !important;
    transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
}
.dark .side button:hover,
.dark .btn-whoaverse.contribute:hover,
.dark .pagination-container .btn-whoaverse-paging a:hover,
.dark .btn-whoaverse-paging:hover,
.dark .btn-sub:hover,
.dark .btn-sub a:hover,
.dark .btn-unsub:hover,
.dark .btn-unsub a:hover,
.dark .tabmenu li.selected a:hover,
.dark .tabmenu li.disabled a:hover,
.dark .tabmenu li.disabled a.contribute:hover,
.dark .tabmenu li.selected a.contribute:hover,
.dark .tabmenu li a:hover {
        background: #c0c0c0; /* This is the button color while hovering it */
        color: #292929; /* This is the text color while hovering over it */
        border-color: transparent;
        opacity: 0.8;
}
.light .side button,
.light .btn-whoaverse.contribute,
.light .pagination-container .btn-whoaverse-paging a,
.light .btn-whoaverse-paging,
.light .btn-sub,
.light .btn-sub a,
.light .btn-unsub,
.light .btn-unsub a,
.light .tabmenu li.disabled a,
.light .tabmenu li a,
.light .tabmenu li.selected a,
.light .tabmenu li.disabled a.contribute,
.light .tabmenu li.selected a.contribute {
    border-width: 1px;
    background: #c0c0c0; /* This is the normal button color */
    border-color: transparent;
    color: white !important;
    transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
}
.light .side button:hover,
.light .btn-whoaverse.contribute:hover,
.light .pagination-container .btn-whoaverse-paging a:hover,
.light .btn-whoaverse-paging:hover,
.light .btn-sub:hover,
.light .btn-sub a:hover,
.light .btn-unsub:hover,
.light .btn-unsub a:hover,
.light .tabmenu li.selected a:hover,
.light .tabmenu li.disabled a:hover,
.light .tabmenu li.disabled a.contribute:hover,
.light .tabmenu li.selected a.contribute:hover,
.light .tabmenu li a:hover {
        background: #333333; /* This is the button color while hovering it */
        color: #0c0c0c; /* This is the text color while hovering over it */
        border-color: transparent;
        opacity: 0.8;
}