/* Move your sidebar to the left side of the screen.
 *  This is a lot easier than you would think, so here it is.
 *  Just put this at the end of your CSS, and there you go.
 */

.content {
    margin-right: 10px;
    flex-grow: 1;
}
.side {
    float: left;
    transition: 500ms left;
}
 #container {
    display: flex;
}