/*	Set a background for your subverse. Just
 *	copy this and paste it in your CSS at the end.
 *	Follow the instructions in the code, and
 *	you will have a nice background. 
 * One note though, the background will repeat unless
 * you put no-repeat between the ) and the ; on each link.
 */
 
 /* Dark theme page background */
.dark {
    background: url('https://slimgur.com/images/2015/07/13/2295adcdcdaf6083bf04122547d4812b.png');
    /* Use this if you want the background fixed even when scrolling */
    /* Just uncomment it */
    /* background-attachment: fixed; */
}
/* Light theme page background */
.light {
    background: url('https://slimgur.com/images/2015/07/13/e6dd33d871c7d6690d1761d4e19b8890.png');
    /* Use this if you want the background fixed even when scrolling */
    /* Just uncomment it */
    /* background-attachment: fixed; */
}