/*	So you want some user flair? Here you go, although it still
 *	has to be hardcoded into the CSS we can always hope they will
 *	fix that one day. Until then, just add something like this
 *	to the bottom of your CSS and change the appropriate things
 *	and you have user flair.
 */
 
a[href$="/user/zombieman"]:not(.upvoatsGiven)::after { /* put your user name here that needs flair */
    background: #259FDD; /* color of the flair */
    border: 1px solid #c0c0c0;
    border-radius: 4px; /* How round the edges are, higher number is more round */
    color: #ffffff; /* color of the text in the flair */
    margin: 0px 3px 0px 3px;
    padding: 2px 4px;
    vertical-align: middle;
    content: "Developer"; /* what the flair says or can be a picture */
    font-size: 9px;
    letter-spacing: 0.8px;
}